title{
    font-family: 'open sans';
    color: darkgray;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
h1 {
    font-family: 'open sans';
    color: darkgray;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
p{
    font-family: 'open sans';
    color: darkgray;
    font-weight: 400;
}
h2{
    font-family: 'open sans';
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    background-color: blue;
    font-size: 1.5em;
}
h3{
    font-family: 'open sans';
    color: darkgray;
    font-weight: 600;
    font-size: 1.5em;
}
h4{
    font-family: 'open sans';
    color: darkgray;
    font-weight: 400;
    font-size: 1.5em;
}
h5{
    font-family: 'open sans';
    color: darkgray;
    font-weight: 400;
    font-size: 1em;
    font-style: italic;
}
ul{
    font-size: 1em;
}
