/* styles for my resume */
/* banner for my resume */
title{
    font-family: 'open sans', Arial, sans-serif ;
    color: darkgray;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
#name {
    font-family: 'open sans', Arial, sans-serif;
    color: ivory;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    min-width: 300px;
    margin: 0 auto;
    font-size: 135px;
    position: absolute;
    top: 25%;
    left: 12%;
}
/* text style for paragraphs */
.description{
    font-family: 'open sans', Arial, sans-serif;
    color: darkgray;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 20px;
}
/* i changed the margins here */
/* different background color for this heading */
.sectionheader{
    font-family: 'open sans', Arial, sans-serif;
    color: steelblue;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5em;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* details for job titles */
.jobtitle{
    font-family: 'open sans', Arial, sans-serif;
    color: darkgray;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
}
/* this one is less bold than the job titles */
.organization{
    font-family: 'open sans', Arial, sans-serif;
    color: darkgray;
    font-weight: 400;
    font-size: 1.24em;
    text-align: center;
} 
/* this one gets italicized */
.date {
    font-family: 'open sans', Arial, sans-serif;
    color: darkgray;
    font-weight: 400;
    font-size: 1em;
    font-style: italic;
    margin-top: 2px;
    text-align: center;
   
}
/* lists are important */
.degrees{
    font-size: 1em;
    color: darkgray;
    font-family: 'open sans', Arial, sans-serif;

}
#menu {
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-top: 40px;

}
#menu li{
   display: inline;
}
/* I changed the margin and padding for the contact list*/
.degrees {
    margin: 0 auto;
    margin-top: 10px;
}
/* I added this section to edit only my list of degrees */
.do {
    margin-top: 5px;
    margin: 0 auto;
}
/* another new section!*/
#title {
    font-weight: 600;
    text-align: center;
    margin-top: 20px;

}
#container {
    width: 100%;
    max-width: 1200px;
    margin: 0px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    
}
#headphoto {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: 10px;
}
body {
    background-color: ivory;
}
/* this is here so I can layer things on top of my header image */
.container-two {
    text-align: left;
    position: relative;
    color: ivory;
}
hr {
    color: steelblue;
}
#headshot {
    display: block;
    margin-right: 500px;
    width: 31.5%;
    padding-top: 20px;
    padding-left: 120px;
}
#description {
    text-align: left;
    background-color: skyblue;
    color: ivory;
    font-size: 30px;
    font-family: helvetica, arial, sans-serif;
    position: absolute;
    border: 10px solid;
    border-color: skyblue;
    top: 63%;
    margin-left: 700px;
    margin-right: 100px;
    line-height: 1.5;
}
.nav-item{
    display: inline;
}