#datawrapper-chart-V1VW0{
    display: block;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
}
#datawrapper-chart-Nmbsv{
    display: block;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
}